.outerSection{
    background-image: url('/images/aboutImg/imgi_45_about-bg-image.png');
    background-size:contain;
    background-color: rgb(18, 29, 35);
}
.outerSection svg {
    fill: rgb(172, 145, 116);
    background-color: antiquewhite;
    padding: 20px;
}
.icons{
    color:rgb(211, 179, 147);
    
}
.opening {
  background-color: rgb(211, 179, 147);
  padding: 30px;
  border-radius: 20px;
  position: absolute;   
  bottom: 20px;         
  left: 17%;            
  transform: translateX(-50%);  
  width: 60%;           
  box-shadow: 0 4px 6px rgba(0,0,0,0.3); 
}

