.outerDiv{
    background-color: var(--header-background);
}
.links2{
   background-color: var(--header-background);
}
ul :hover{
    color:var(--header-btn)
}
.booking {
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
  cursor: pointer;
  background: transparent;
  border: 2px solid white;
  color: white;
  padding: 0.75rem 1.5rem; 
  border-radius: 9999px;   
}

.booking::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--header-btn);
  transition: width 0.5s ease, height 0.5s ease;
  z-index: -1;
}

.booking:hover {
  background-color: var(--header-btn);
  color: black;
  border-color: var(--header-btn); 
}
