.outerSection{
    background:
    linear-gradient(rgba(25, 34, 37, 0.7), rgba(25, 34, 37, 0.7)), 
    url(../../../public/images/heroImg/imgi_44_hero-bg.jpg);
    background-size: cover;
    background-position: center 0px;

    background-attachment: fixed;
    
}