.outerDiv{
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url('/images/journyImg/imgi_46_intro-video-bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: none;
}
.buttom{
    border-color: rgba(255,255,255,0.2);
}