.outerSection{
    background:linear-gradient(rgba(25, 34, 37, 0.7), rgba(25, 34, 37, 0.7)), url('/images/imgi_42_page-header-bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: none;
}